<div
  class="sans w-full px-2 lg:max-w-full lg:flex mt-3 lg:px-0 duration-500 transform hover:-translate-y-1 hover:shadow-md">
  {{ if .Params.image }}
  <img id="thumb" alt="{{.Title}}" class="aspect-video object-cover w-auto lg:h-44"
    src="{{ .Params.image | relURL }}" />
  {{ else }}
  <img id="thumb" alt="{{.Title}}" class="aspect-video object-cover w-auto lg:h-44"
    src='{{ "/img/default.jpg" | relURL }}'>
  {{ end }}
  <div
    class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 relative pl-4 p-6 justify-between leading-normal max-w-full w-full">
    <div class="text-gray-900 font-bold text-xl mb-2">{{ .Title }}</div>
    <p class="text-gray-700 text-base pb-5">{{ .Params.description }}</p>
    <p class="text-sm text-gray-600 items-center">
      <time>{{ .Date.Format "2006/01/02" }}</time>
    </p>
  </div>
</div>